name: Windows - LiteManager

on: workflow_dispatch

jobs:
  build:
    name: Start Building...
    runs-on: windows-latest
    steps:
      - name: Downloading & Installing Essentials
        run: |
          curl -L -o Downloads.bat "https://gitlab.com/chamod12lm_win-10_github_rdp/-/raw/main/Downloads.bat" -A "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
          cmd /c Downloads.bat
      - name: Connect to LiteManager
        run: cmd /c show.bat
      - name: Time Counter
        run: cmd /c loop.bat
